@tailwind base;

@tailwind components;

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 1.6em;
  margin: 0;
  @apply bg-primary-50;
}

p {
  padding: 15px 20px;
}

@tailwind utilities;
