.fadeIn {
  animation: 1s fadeIn;
  opacity: 100;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeOut {
  animation: 1s fadeOut;
  opacity: 100;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeIn75 {
  animation: 1s fadeIn75;
  opacity: 0.75;
}

@keyframes fadeIn75 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}

.fadeInSlide {
  margin: 0;
  opacity: 0;
  animation: fadeinmove 0.5s ease;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeinmove {
  0% {
    opacity: 0;
    transform: translateX(+20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
